@font-face {
	font-family: 'FT2';
	src: url('FT2.40df93e3.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  font: normal 16px/1 "FT2", Verdana, sans-serif;
  background: hsl(250, 20%, 20%);
  color: hsl(190, 30%, 90%);
  padding: 0;
  margin: 0;
  text-align: center;
}

.title {
  margin: 65vh 0 0 0;
  padding: 0;
  width: 100vw;
  text-align: center;
  letter-spacing: 1em;
  color: hsl(0, 50%, 70%);
  animation: title-hue 15s linear infinite;
}

@keyframes title-hue {
  from { filter: hue-rotate(0); }
  to { filter: hue-rotate(359deg); }
}

.scope {
  width: 40vw;
  height: 10vh;
  position: absolute;
  left: 28vw;
  top: 52vh;
}

.mute {
  display: block;
  margin-bottom: 1em;
}

.mute input {
  display: none;
}

.mute .text:hover {
  text-decoration: underline;
}

footer {
  margin-top: 10vh;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
